DJANGO_SECRET_KEY=your-secret-key-here
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EMAIL_HOST=mail.imperiomotos.com.co
EMAIL_HOST_USER=turnos@imperiomotos.com.co
EMAIL_HOST_PASSWORD=your-email-password
