@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;}

body {
    width: 100%;
    height: auto;
background-position: center center;
background-size:cover no-repeat;
display: flex;
justify-content: center;
align-items: flex-start
}

.logo{
    width: 300px;
    
}

 .logo-principal {
    width: 300px;
}

.boton-principal {
    margin: 10px;
    color: #000000;
    background-color: #39FF14;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 12px;
    font-size: .8em;
    border-radius: 20px;
}
.titulo-inicio {
    padding: 1.4em 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
}

#logo {
    width: 40px !important;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}


h1{
    text-align: center;
}

.lista li {
    display: flex;
    align-items: center;
}

.caja {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 25px;
    border-radius: 5px;
    backdrop-filter: blur(1px);

}

.caja h1 {
   
    color: #fff;
    padding: 0px 55px;
}

.caja form {
    width: 50% !important;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
}


.caja form input {
    width: 100%;
    margin: 6px 0px;
    display: none;
}


  .submit {
    background-color: #39FF14;
    border-radius: 5px;
    border: 1px solid #1A5C00;
    box-sizing: border-box;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  

  .lista li {
    display: flex;
    align-items: center;
    justify-content: flex-start



}

.lista li button {
    display: flex;
    align-items: center;
    padding: 0.25em 0.6em;
    width: 100px;
    justify-content: center;
    border: solid 1px #c0c0c0;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
}


.lista li button:hover {
    background-color:#1a1616;
    color: #fff;
    transition: .25s;
}
.lista li img {
    margin: 0 10px;
    border-radius: 50px;
}


.caja.turnos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1.3em 5em;
    margin: 2em;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start !important;
}

ul.lista li {
    background: #fdfcfc;
    border: solid 1px #000000;
    border-radius: 0px;
    padding: .2em 1em;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    justify-content: space-between;


}

.esperando {
    margin: 0px 10px;
    padding: 4px 8px;
    background-color: #757575 !important;
    color: #fff;
    font-size: .8em;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
    transform: scale(.9);
}

.esperando img {
    padding: 0;
    margin: 0 !important;
}


ul.lista li:first-child img {
    border-radius: 50%;
    transform: scale(1);
    
    }


.lista.turnos li {
    padding: 0;
    padding-right: 20px;
}

.turno-num {
    background-color: #ffffff;
    width: 26px;
    padding: .8em;
    border-right: solid 2px black;
    border-left: solid 2px black;
    margin: 0;
    color: black;
    font-weight: 600;
    text-align: center;
}


.turno-num.active {
    background-color: #39FF14;
    width: 26px;
    color: #000000;
    border-right: solid 2px black;
    border-left: solid 2px black;
    
    font-size: 1em;
    font-weight: 800;
}
    .caja ul.lista-turnos {
    width: 500px;
}


.space  {
    width: 12px;
}

.botones-turnos {
    padding: 1em;
}


.botones .boton-principal{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1.2em;
}


.boton-principal img {
    width: 25px;
    margin: 0px 7px;
    padding: 0;
}

label {
    color: rgb(199, 195, 195);
}

.boton-principal.black {
    background-color: #000000 !important;
    color: #ffffff;
}

.checkbox-container.checked {
	background: #39FF14 !important;
}

li.atendiendo.selected.checked {
    background-color: #39FF14;
    color: #000000;
}

.checkbox {
    width: 30px !important;
}


#administrador {
    opacity: 0 !important;
    transition: .4s;
}

#administrador:hover {
    opacity: 1 !important;
}

#botones {
    margin-top:25px!important;
}

#botones a img {
   margin: 0px 10px;
   background: #fff;
   border-radius: 50px;
}


a.flex.flex-col.px-6.py-2.m-2.text-blue-100.no-underline.bg-slate-950.rounded.hover\:bg-zinc-900.hover\:text-blue-200.text-sm {
    display: flex;
    flex-direction: row;
}
ul.max-w-md.divide-y.divide-dashed.md\:divide-solid.bg-slate-950.w-full {
    margin-top: 0px;
} 


div#botoncitos2 {
    border-top: solid 2px;
    margin: 20px 0px;
    padding: 8px 0px;
}

#formulario-cliente {
    margin: 0em 20em;
}

div#caja-listado {
    display: flex;
    align-items: center;
    justify-content: center;

}

div#botoncitos2 {
    display: flex !important;
    align-items: center!important;
    flex-direction: row !important;
    margin: 30px 0px;}

div#logo-mts {
    max-width: 300px !important;
    position: absolute;
    left: 6% !important;
    top: 5% !important;
}

div#logo-mts img {
    width: 100px !important;
}

div#caja-menu-flotante {
    transform: scale(1.7)!important;
    left: 23%!important;
    bottom: 3%!important;
    opacity: 0 !important;
    display: none;
}


div#todas.listas {
    width: 55rem !important;
}


ul#caja-de-la-lista {
    max-width: 50rem !important;
}
@media screen and (max-width: 1080px) {

    body {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .caja {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 15px;
        transform: scale(1.3);
}
    

    span.atendiendo {
        background-color: #39FF14;
        color: #000000;
        position: absolute;
        top: 18%;
        transform: scale(.8)translateX(-50px);
        padding: 8px 10px;
        border-radius: 22px;
        font-size: 0.6em;
        color: #fff;
}

    ul.lista li {
        background: #fdfcfc;
        
        border-radius: 0px;
        padding: 5px 20px;
        margin: 0px;
        box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
        font-size: 24px;
    }
    
    .caja h1 {
        padding: 12px 0px;
        font-size: 2.5em;
        padding: 0px 145px;
    }

    .botones {
        flex-direction:column;
    }

    .botones .boton-principal{
        text-align: center;
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 90%;
        font-size: 1.75em;
        padding: .62em 1em;
        text-align: center;
    }

    .boton-principal img {
        width: 55px;
        margin: 0px 7px;
        transform: translateY(5px);
    }

    label {
        display: flex;
        font-size: 24px;
        color: rgb(181, 180, 180);
        
    }

    .titulo-form{
        font-size: 2em;
        color:#fff;
        margin: 20px 0px;
    }


    ul.lista li img {
        width: 35px;
        border-radius: 50px;
    }

    .esperando {
        padding: 4px 8px;
        border-radius: 20px;
        transform: scale(.8);
    }

    .esperando img {
        transform: scale(.65);
    }

    .botones-turnos {
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    .botones-turnos a {
        font-size: 19px;
    }
    .py-5 {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        
    }

    #caja-listado {
        width: auto;
        transform: scale(1.41);
        position: absolute;
        top: 35%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    #caja-listado2 {
        width: auto;
        transform: scale(1.2);
        position: absolute;
        top: 30%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    li.pb-2.sm\:pb-2.w-full.px-3.py-3.border-s-2 {
        border: none !important;
    }
    #botones {
        width: auto;
        transform: scale(2.7);
        position: absolute;
        top: 33%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .flex.py-0.m-0 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    a.flex.flex-col.px-6.py-2.m-2.text-slate-950.no-underline.bg-white.rounded.hover\:bg-zinc-900.hover\:text-blue-200.text-sm {
        width: 100%;
        text-align: center;
    }
    .caja .logo {
        width: 200px;
        margin: 15px 0px;
    }
    a.px-6.py-2.text-blue-100.no-underline.bg-slate-950.rounded.hover\:bg-zinc-900.hover\:text-blue-200.text-sm {
        font-size: 1.2em;
        padding: 10px 15px;
    }
    
    img.h-8.mr-3 {
        object-fit: contain;
        transform: scale(1.4)translateX(30px);
        
    }
    .p-4 {
        padding: 2rem 1rem;
    }

    div#botoncitos {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    div#botoncitos a {
        background-color: white;
        color: #1a1616;
        margin: 20px 40px;
        transform: scale(1.3);
        
    }

    div#botoncitos2 {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 30px 0px;
    }
    div#botoncitos2 a {
        background-color: white;
        color: #1a1616;
        transform: scale(.9);
        
    }
    #nuevo-turno{
        display: none;
    }

    h1.text-white.text-1xl {
        font-size: 1.6em;
        margin: 0px 20px;
    }
    li.pb-2.sm\:pb-2.w-full.px-4.py-3.border-s-2 {
        border: none;
    }

    .caja form {
        width: 80% !important;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
    }
    #formulario-cliente {
        margin: 0em;
        width: 72%;
        padding: 1.5em;
        position: absolute;
        top: 33%;
        left: 14.7%;
        transform: scale(1.3);

    }
    #formulario-cliente label {
        margin-top: 12px;
        margin-bottom: 0px;
    }

    #formulario-cliente input {
        padding: 27px;
        font-size: 24px;
        margin-bottom: 10px !important;
    }
    .submit {
        padding-bottom: 20px;
        padding-top: 10px;
        height: 80px;
        font-size: 27px;
    }

    #caja-reinicio{
        margin: 0em;
        width: 50%;
        padding: 1.5em;
        position: absolute;
        top: 33%;
        left: 25%;
        transform: scale(1.5);

    }
    div#caja-menu-flotante {
        transform: scale(1.7)!important;
        left: 24%!important;
        bottom: 4%!important;
        opacity: 1 !important;
        display: flex !important;
    }

    div#logo-mts {
        max-width: 300px !important;
        position: absolute;
        left: 40% !important;
        top: 5.5% !important;
    }
    div#logo-mts img {
        width: 200px !important;
    }
    

    

}


#caja-reinicio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    
}

