<!DOCTYPE html>
<html lang="es">
<head>
    <title>Imperio Motos | Atender Turnos (Mecanico)</title>
    <meta http-equiv="refresh" content="400"> <!-- Refrescar la página cada 10 segundos -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'turnos_app/styles.css' %}">
    
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
    rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
  <link rel="stylesheet" href="{% static "turnos_app/css/tailwind.css" %}">

  </head>
  <body class="bg-slate-950" style="background-color: #000000; color: #FFFFFF">
    
    <audio src="/static/turnos_app/js/turnosound.mp3" autoplay>
      Your browser does not support the <code>audio</code> element.
    </audio>

    <div class="relative shadow-md sm:rounded-lg m-5 p-5">
      <form class="w-full max-w-xl">
        <div class="flex flex-wrap -mx-3 mb-0">
          <div class="w-full md:w-1/3 px-3 mb-2">
            <label class="text-white dark:text-gray-200">
              Cliente
            </label>
            <input class="appearance-none block w-full bg-white text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Javier Jimenez">
          </div>
          <div class="w-full md:w-1/3 px-3">
            <label class="text-white dark:text-gray-200">
              Motocicleta
            </label>
            <input class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Doe">
          </div>
          <div class="w-full md:w-1/3 px-3">
            <label class="text-white dark:text-gray-200">Fecha</label>
            <input id="date" type="date" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
          <div class="w-full px-3">
            <label class="text-white dark:text-gray-200">Detalles de la reparación</label>
            <textarea id="textarea" type="textarea" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus: dark:focus: focus:outline-none focus:ring"></textarea>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block text-sm font-medium text-white mb-2">
              Mecánico
            </label>
            <div class="relative">
              
            <select id="countries" class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
              <option selected>Seleccionar</option>
              <option value="US">Jhon</option>
              <option value="CA">Elkin</option>
              <option value="FR">Jonathan</option>
              <option value="DE">Richard</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block text-sm font-medium text-white mb-2">
              Estado de la motocicleta
            </label>
            <div class="relative">
              <select class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                <option selected>Seleccionar</option>
                <option>Malo 😥</option>
                <option>Regular 😬</option>
                <option>Bueno 🙂</option>
                <option>Excelente 😁</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
          <div class="w-full px-3 py-3 mb-6">
            <label class="block text-sm font-medium text-white">
            Image
          </label>
          <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
            <div class="space-y-1 text-center">
              <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <div class="flex text-sm text-gray-600">
                <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                  <span class="">Subir fotos</span>
                  <input id="file-upload" name="file-upload" type="file" class="sr-only">
                </label>
                <p class="pl-1 text-white">Clic aquí para subir las fotos</p>
              </div>
              <p class="text-xs text-white">
                Puedes seleccionar una o varias Fotos
              </p>
            </div>
          </div>
          <div class="w-full px-3 py-3 mb-6">
            <button id="submit-button" class="hover: text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
              Enviar Reporte
            </button>
          </div>
      </form>
    </div>



<!-- Agrega este script al final de tu archivo HTML -->
<script>
  // Función para mostrar el modal
  function showModal(modalId) {
      const modal = document.getElementById(modalId);
      modal.classList.remove('hidden');
      document.body.classList.add('overflow-hidden');
  }

  // Función para ocultar el modal
  function hideModal(modalId) {
      const modal = document.getElementById(modalId);
      modal.classList.add('hidden');
      document.body.classList.remove('overflow-hidden');
  }

  // Obtén todos los elementos con atributos 'data-modal-toggle'
  const modalToggleButtons = document.querySelectorAll('[data-modal-toggle]');

  // Agrega un evento de clic a cada botón de alternancia de modal
  modalToggleButtons.forEach(button => {
      const targetModalId = button.getAttribute('data-modal-target');

      button.addEventListener('click', () => {
          showModal(targetModalId);
      });
  });

  // Obtén todos los elementos con atributos 'data-modal-hide'
  const modalHideButtons = document.querySelectorAll('[data-modal-hide]');

  // Agrega un evento de clic a cada botón de ocultar modal
  modalHideButtons.forEach(button => {
      const targetModalId = button.getAttribute('data-modal-hide');

      button.addEventListener('click', () => {
          hideModal(targetModalId);
      });
  });
</script>

  
  



<!--------------------------------MENU INFERIOR--------------------------->
    <div class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-white border border-gray-200 rounded-full hover:rounded-full bottom-4 left-1/2 dark:bg-gray-700 dark:border-gray-600" id="caja-menu-flotante">
      <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
        <a href="{% url 'lista_turnos' %}" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group hover:rounded-full">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14v4m-4 1h8M1 10h18M2 1h16a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1Z"/>
          </svg>
          <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Lista</span>
            <span class="sr-only">Wallet</span>
        </a>

         <a class="inline-flex flex-col items-center justify-center px-5 rounded-r-full hover:bg-gray-50 dark:hover:bg-gray-800 group" href="{% url 'descargar_csv' %}">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
            <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
          </svg>
            <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Descargar</span>
              <span class="sr-only">Profile</span>
          </a>
          <div id="tooltip-profile" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Profile
              <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
          <div class="flex items-center justify-center">
              <a href="{% url 'agendar_turno' %}" class="inline-flex items-center justify-center w-10 h-10 font-medium bg-indigo-950 rounded-full hover: group focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
                  <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                  </svg>
                  <span class="sr-only">New item</span>
                </a>

          </div>
          <div id="tooltip-new" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Create new item
              <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
          <a href="{% url 'borrar-registros' %}" onclick="confirmarBorrado()" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
              <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
            </svg>
              <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Clientes</span>
              <span class="sr-only">Settings</span>
          </a>
          <div id="tooltip-settings" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Settings
              <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
          <a class="inline-flex flex-col items-center justify-center px-5 rounded-r-full hover:bg-gray-50 dark:hover:bg-gray-800 group" href="{% url 'descargar_csv' %}">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
              <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
              <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
            </svg>
              <span class="sr-only">Profile</span>
              <form method="POST" action="{% url 'enviar_correo_atencion' %}">
                {% csrf_token %}
                  <button type="submit" class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Enviar</button>
              </form>
          </a>
          <div id="tooltip-profile" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Profile
              <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        

      </div>
  </div>
  <!--------------------------------MENU INFERIOR--------------------------->

  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'turnos_app/js/index.js' %}"></script>
    <script src="{% static 'turnos_app/js/alertas.js' %}"></script>
    <script src="{% static 'turnos_app/js/variables.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
<script>
  var audio = new Audio("/static/turnos_app/js/turnosound.mp3");
function sonar(audio){
    var audio = new Audio("/static/turnos_app/js/turnosound.mp3");
    audio.play();}
</script>
<script>
  $(document).ready(function () {
    // Agrega un controlador de eventos de clic a los botones de "Llamar" con la clase "boton-llamar"
    $('.boton-llamar').on('click', function () {
      // Obtiene los datos relevantes del atributo data
      const telefono = $(this).data('telefono');
      const nombre = $(this).data('nombre');
      const motocicleta = $(this).data('motocicleta');

      // Realizando una solicitud AJAX al servidor para llamar a sendsms
      $.ajax({
        type: 'POST',
        url: '/static/turnos_app/js/send_sms.py', 
        data: {
          telefono: telefono,
          nombre: nombre,
          motocicleta: motocicleta
        },
        success: function (data) {
          // Manejo la respuesta del servidor si es necesario
          console.log('Solicitud enviada con éxito');
        },
        error: function (error) {
          // Manejo errores si es necesario
          console.error('Error al enviar la solicitud:', error);
        }
      });
    });
  });
</script>




<script>
  // Script para enviar reporte
  //Credenciales de Twilio
  const twilioAccountSid = '{{ twilio_account_sid }}';
  const twilioAuthToken = '{{ twilio_auth_token }}';
  const twilioPhoneNumber = '{{ twilio_phone_number }}';

  $(document).ready(function () {
    $('#submit-button').click(function () {
      const cliente = $('#grid-first-name').val();
      const motocicleta = $('#grid-last-name').val();
      const fecha = $('#date').val();
      const detalles = $('#textarea').val();
      const mecanico = $('#countries').val();
      const estado = $('#grid-state').val();

      // Realiza la validación de los campos según tus requerimientos
      // ...

      // Si la validación es exitosa, envía el reporte al cliente
      const reporte = `Cliente: ${cliente}\nMotocicleta: ${motocicleta}\nFecha: ${fecha}\nDetalles de la reparación: ${detalles}\nMecánico: ${mecanico}\nEstado de la motocicleta: ${estado}`;

      // Envía el reporte al cliente a través de Twilio
      $.ajax({
        url: `https://api.twilio.com/2010-04-01/Accounts/${twilioAccountSid}/Messages.json`,
        method: 'POST',
        headers: {
          'Authorization': `Basic ${btoa(`${twilioAccountSid}:${twilioAuthToken}`)}`,
        },
        data: {
          From: twilioPhoneNumber,
          To: 'Número_de_teléfono_del_cliente', // Reemplaza con el número del cliente
          Body: reporte,
        },
        success: function () {
          // Notificar al usuario que el reporte se envió con éxito
          Swal.fire({
            icon: 'success',
            title: 'Reporte Enviado',
            text: 'El reporte ha sido enviado al cliente.',
          });

          // Limpiar el formulario
          $('input[type="text"]').val('');
          $('#textarea').val('');
          $('#countries').val('Seleccionar');
          $('#grid-state').val('Seleccionar');
        },
        error: function (error) {
          // Manejar el error en caso de que no se pueda enviar el reporte
          Swal.fire({
            icon: 'error',
            title: 'Error al Enviar el Reporte',
            text: 'Hubo un error al enviar el reporte. Por favor, inténtalo de nuevo más tarde.',
          });
        },
      });
    });
  });
</script>

</body>
</html>
