<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Imperio Motos | Reiniciar Números de Turno</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'turnos_app/styles.css' %}">
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
    rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
  <link rel="stylesheet" href="{% static "turnos_app/css/tailwind.css" %}">

  </head>
  <body class="bg-slate-950" style="background-color: #000000; color: #FFFFFF">
   
        <!--NAVBAR-->

    
<nav class="fixed w-full z-20 top-0 left-0">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="{% url 'pagina_principal' %}" class="flex items-center">
        <img src="{% static 'turnos_app/logo-horizontal.png' %}" alt="logo" class="h-8 mr-3">
    </a>
    <div class="flex md:order-2">
        <a href="{% url 'atender_turnos' %}"
  class="px-6 py-2  no-underline bg-slate-950 rounded hover:bg-zinc-900 hover:  text-sm">
            Administrar Turnos</a>
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Menú</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md: dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <l1><h1 class="text-white text-1xl">Nuevo turno [Caja]</h1></l1>
      </ul>
    </div>
    </div>
  </nav>
  

    <!--FIN DEL NAVBAR-->
    <div class="flex justify-center flex-col justify-items-center w-full p-5 m-5" id="caja-reinicio">
    <img src="{% static 'turnos_app/logo-vertical.png' %}" alt="logo" class="logo" >
    <h1>Confirme el Reinicio del contador</h1>
    <form method="post" action="{% url 'reiniciar_numeros' %}">
        {% csrf_token %}
        {{ form.reiniciar }}
        

        <div class="botones-turnos">
            <a href="{% url 'pagina_principal' %}" class="boton-principal">Pagina Principal</a>
        <button type="submit" class="boton-principal black">Reiniciar contador </button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>

</body>
</html>
